<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reposteria Morita</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/thanks.css">
</head>
<body>
    <div class="thanks-container">
        <!-- <i class="bi bi-check-circle-fill icon-tranks"></i> -->
        <i class="bi bi-check2-circle icon-tranks"></i>
        <h3 class="message-thanks">Petición realizada con éxito</h3>
        <p>
            Nuestro equipo ya esta atendiendo tu petición, 
            recibiras una respuesta en el correo que nos proporcionaste
            <!-- <i class="bi bi-envelope-fill"></i> -->
        </p>
        <a  href="./index.html" class="button-87"> <i class="bi bi-house-fill"></i>Volver al Inicio</a>
    </div>
</body>
</html>